* {
  margin: 0;
  padding: 0;
  /* background-color: #f7f8fa; */
  box-sizing: border-box;
  font-family: "Poppins";
}

header {
  background-color: #fff;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-top: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.logo span {
  color: #1abc9c;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 200;
}

.contact-btn {
  background-color: #1abc9c;
  color: #fff;
  height: 44px;
  width: 204px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 20px;
}
.contact-btn:hover {
  background-color: #16a085;
}

/* Mobile Menu */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}
.hero {
  display: flex;
  align-items: center;
  padding: 60px 48px;
  justify-content: space-between;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 2.5rem;
  color: #000;
}

.hero-content h1 span {
  color: #1abc9c;
}

.hero-content p {
  margin: 20px 0;
  color: #555;
  font-size: 1rem;
}

.hero-buttons {
  margin-top: 20px;
  height: 54px;
  display: flex;
  align-items: centers;
}

.btn {
  display: inline-block;
  width: 261px;
  height: 54px;
  padding: 13px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 500;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  background-color: #1abc9c;
  color: #fff;
  margin-right: 10px;
}

.primary-btn:hover {
  background-color: #16a085;
}

.secondary-btn {
  background-color: #eaf1f3;
  color: #1abc9c;
  border: 2px solid #1abc9c;
}

.secondary-btn:hover {
  background-color: #1abc9c;
  color: #fff;
}

.rotatingText {
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

.rotatingText-adjective {
  left: 0;
  margin-bottom: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.rotatingText-adjective:nth-of-type(1) {
  animation: rotate 6s infinite;
  animation-delay: 0s;
}

.rotatingText-adjective:nth-of-type(2) {
  animation: rotate 6s infinite;
  animation-delay: 2s;
}

.rotatingText-adjective:nth-of-type(3) {
  animation: rotate 6s infinite;
  animation-delay: 4s;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  10%,
  30% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  40% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
}

.hero-image {
  max-width: 50%;
}

.hero-image img {
  width: 100%;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 15px 0;
    text-align: center;
  }
  .contact-btn {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .hero {
    flex-direction: column;
  }

  .hero-content,
  .hero-image {
    max-width: 100%;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
}
.herotext {
  font-size: 48px;
  font-weight: 800;
}
.pos-relative {
  position: relative;
  color: #16a085;
}
.d-flex {
  display: flex;
  gap: 4px;
}
